// Included typography in here
// Solid font
@font-face {
    font-family: "Pokemon";
    src: url("../../assets/fonts/Pokemon\ Solid.woff") format("woff");
    font-weight: normal;
    font-size: normal;
}

// Desktop & Tablet
@mixin page-header-desktop {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.5rem;
    font-family: "Pokemon";
}

// Mobile
@mixin page-header-mobile {
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 2.25rem;
    font-family: "Pokemon";
}