@use "./partials/mixins" as *;
@use "./partials/variables" as *;

// Global targets
*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.background--initial {
    background-image: url(../assets/images/pokemon-background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.background--start {
    @include desktop {
        background-image: url(../assets/images/battle-background1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    @include tablet {
        background-image: url(../assets/images/battle-background2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    background-image: url(../assets/images/battle-background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

// Center start button
.button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    &__start {
        @include page-header-desktop;
        padding: 3% 7%;
        border-radius: 1rem;
        border: 0px;

        &:hover {
            color: #2a75bb;
            background-color: #ffcb05;
        }
    }
    &__battle {
        @include page-header-desktop;
        padding: 6% 8%;
        border-radius: 1rem;
        border: 0px;
        line-height: 3.5rem;

        @include mobile {
            font-size:1.5rem;
        }

        &:hover {
            color: #2a75bb;
            background-color: #ffcb05;
        }
    }
    &__container {
        position: absolute;
        bottom: 7%;
        left: 50%;

        @include mobile {
            bottom: 38%;
            left: 44.5%;
        }
    }
}

// Cards styling
.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;

    @include mobile {
        flex-direction: column;
        justify-content: center;
        gap: 6rem;
        padding: 3.2rem;
    }

    &__container {
        &:first-child {
            margin-bottom: 10%;

            @include mobile {
                align-self: flex-start;
                margin: unset;
            }
        }
        &:last-child {
            margin-top: 10%;

            @include mobile {
                align-self: flex-end;
                margin: unset;
            }
        }

        &--sizing {
            @include desktop {
                width: 18rem;
                height: 25rem;
            }

            @include tablet {
                width: 14rem;
                height: 19rem;
            }
            // Mobile styling
            width: 11rem;
            height: 13rem;
        }
    }

    &__versus {
        @include page-header-desktop;

        @include desktop {
            font-size: 9rem;
        }
        @include tablet {
            font-size: 5rem;
        }
    }
}

// Reusable class
.display__none {
    display: none;
}

// Styling for modal
.modal {
    background-color: deepskyblue;
    width: 40rem;
    height: 20rem;
    position: absolute;
    z-index: 1;
    top: 38%;
    left: 28%;
    border-radius: 40px;

    @include tablet {
        top: 30%;
        left: 25%;
        width: 50%;
        height: 43%;
    }

    @include mobile {
        width: 50%;
        height: 35%;
    }

    &__close {
        @include page-header-desktop;
        position: absolute;
        right: 5%;
        top: 1%;
        font-size: 5rem;

        @include mobile {
            font-size: 11vw;
        }
        &:hover {
            cursor: pointer;
        }
    }

    &__message {
        @include page-header-desktop;
        position: absolute;
        font-size: 5rem;
        top: 10%;
        left: 35%;

        @include mobile {
            font-size: 8vw;
        }
    }
}