@font-face {
  font-family: "Pokemon";
  src: url("../../assets/fonts/Pokemon Solid.woff") format("woff");
  font-weight: normal;
  font-size: normal;
}
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.background--initial {
  background-image: url(../assets/images/pokemon-background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.background--start {
  background-image: url(../assets/images/battle-background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media screen and (min-width: 1280px) {
  .background--start {
    background-image: url(../assets/images/battle-background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .background--start {
    background-image: url(../assets/images/battle-background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.button__start {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.5rem;
  font-family: "Pokemon";
  padding: 3% 7%;
  border-radius: 1rem;
  border: 0px;
}
.button__start:hover {
  color: #2a75bb;
  background-color: #ffcb05;
}
.button__battle {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.5rem;
  font-family: "Pokemon";
  padding: 2% 3%;
  border-radius: 1rem;
  border: 0px;
  line-height: 3.5rem;
}
@media screen and (max-width: 767px) {
  .button__battle {
    font-size: 1.5rem;
    padding: 0% 2%;
  }
}
.button__battle:hover {
  color: #2a75bb;
  background-color: #ffcb05;
}
.button__container {
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .button__container {
    bottom: 38%;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    padding: 3.2rem;
  }
}
.cards__container:first-child {
  margin-bottom: 10%;
}
@media screen and (max-width: 767px) {
  .cards__container:first-child {
    align-self: flex-start;
    margin: unset;
  }
}
.cards__container:last-child {
  margin-top: 10%;
}
@media screen and (max-width: 767px) {
  .cards__container:last-child {
    align-self: flex-end;
    margin: unset;
  }
}
.cards__container--sizing {
  width: 11rem;
  height: 13rem;
}
@media screen and (min-width: 1280px) {
  .cards__container--sizing {
    width: 18rem;
    height: 25rem;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .cards__container--sizing {
    width: 14rem;
    height: 19rem;
  }
}
.cards__versus {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.5rem;
  font-family: "Pokemon";
}
@media screen and (min-width: 1280px) {
  .cards__versus {
    font-size: 9rem;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .cards__versus {
    font-size: 5rem;
  }
}

.display__none {
  display: none;
}

.modal {
  background-color: deepskyblue;
  width: 40rem;
  height: 20rem;
  position: absolute;
  z-index: 1;
  top: 38%;
  left: 28%;
  border-radius: 40px;
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .modal {
    top: 30%;
    left: 25%;
    width: 50%;
    height: 43%;
  }
}
@media screen and (max-width: 767px) {
  .modal {
    width: 50%;
    height: 35%;
  }
}
.modal__close {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.5rem;
  font-family: "Pokemon";
  position: absolute;
  right: 5%;
  top: 1%;
  font-size: 5rem;
}
@media screen and (max-width: 767px) {
  .modal__close {
    font-size: 11vw;
  }
}
.modal__close:hover {
  cursor: pointer;
}
.modal__message {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.5rem;
  font-family: "Pokemon";
  position: absolute;
  font-size: 5rem;
  top: 10%;
  left: 35%;
}
@media screen and (max-width: 767px) {
  .modal__message {
    font-size: 8vw;
  }
}/*# sourceMappingURL=global.css.map */