@use "./partials/mixins" as *;
@use "./partials/variables" as *;

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.background--initial {
    background-image: url(../assets/images/pokemon-background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}